@model BuzzerWolf.BBAPI.Model.TeamInfo

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>View</h1>

<div>
    <h4>TeamInfo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShortName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Owner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Owner)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsSupporter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsSupporter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastLoginDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastLoginDate)
        </dd>
    </dl>
</div>
